html {
    scroll-behavior: smooth;
    body {
        .back-office-main {
            .sidebar {
                height: 100vh;
                width: 20%;
                margin-top: 91px;
                padding-top: 20px;
                z-index: 40;
                position: fixed;
                button, a {
                    font-family: "Oswald", sans-serif;
                };
                .sidebar-inner {
                    overflow-y: scroll;
                    .card-body {
                        background-color: $green;
                        .side-link {
                        color: $dark;
                        //   padding: 5px;
                        //   margin: 15px 0;
                        &:hover {
                            color: $blue;
                        };
                        };
                        .side-separator {
                            height: 2px;
                            border-radius: 15px;
                            background-color: $blue;
                        };
                    };
                };
            };
            .main {
                h1, h2, h3, h4, h5, h6, button, a, thead{
                    font-family: "Oswald", sans-serif;
                };
                width: 80%;
                margin-left: 20%; 
                .bo-nav {
                    // position: fixed;
                    // top: 0;
                    z-index: 50;
                    // width: 100%;
                    height: 91px;
                    .avatar {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: top;
                        background-size: cover;
                    };
                    li.nav-item.dropdown {
                        list-style-type: none;
                    }
                };
                tbody tr:hover{
                    color: $blue;
                }
            };
        }
    };
};