html {
    scroll-behavior: smooth;
    body {
        .back-office-main {
            .sidebar {
                height: 100vh;
                width: 20%;
                // margin-top: 91px;
                padding-top: 111px;
                z-index: 40;
                position: fixed;
                overflow-y: auto;
                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: $secondary;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: $blue;
                }
                
                button, a {
                    font-family: "Oswald", sans-serif;
                };
                .sidebar-inner {
                    .card-body {
                        background-color: $green;
                        .side-link {
                        color: $dark;
                        //   padding: 5px;
                        //   margin: 15px 0;
                            &:hover {
                                color: $blue;
                            };
                        };
                        .side-separator {
                            height: 2px;
                            border-radius: 15px;
                            background-color: $blue;
                        };
                    };
                };
            };
            .main {
                h1, h2, h3, h4, h5, h6, button, a, thead{
                    font-family: "Oswald", sans-serif;
                };
                width: 80%;
                margin-left: 20%; 
                .bo-nav {
                    // position: fixed;
                    // top: 0;
                    z-index: 50;
                    // width: 100%;
                    height: 91px;
                    .avatar {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position-x: center;
                        background-position-y: top;
                        background-size: cover;
                    };
                    li.nav-item.dropdown {
                        list-style-type: none;
                    }
                };
                tbody tr:hover{
                    color: $blue;
                }

            };
        }
    };
};

@media screen and (max-width: 767px) {
    .nav-title {
        display: none;
    };
    .side-span {
        display: none;
    };
    .side-btn {
        display: none;
    };
    .back-office-main {
        .sidebar {
            width: fit-content !important;
            height: 100vh !important;
            position: sticky;
            top: 0;
            .collapse {
                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
        .main {
            width: auto !important;
            margin-left: 30px;
        } 
    }
}